<%- include('navbar') -%>
<head>
	<title>Logs | API</title>
	<meta name="description" content="Best Logs API" />
	<meta property="og:title" content="Logs | API" />
	<meta property="og:image" content="/static/DankG.png" />
	<meta property="og:description" content="Best Logs API" />
</head>
<body>
	<div class="text-center margin content">
		<h1>Mirror</h1>

		<p>
			You can use any log instance endpoint and I will get the best result for the channel-user combination.<br />
			<b>Docs:</b><br />
			<a data-umami-event="endpoint-mirror" href="https://logs.ivr.fi/docs">https://logs.ivr.fi/docs</a>
		</p>

		<h1>API</h1>

		<kbd>api/:channel/:user</kbd>
		<p>Details for a user's available logs.</p>
		<ul style="list-style: none">
			<li><b>:channel</b> - It can be a username (TenkSit) or an id (id:557479550)</li>
			<li><b>:user (Optional)</b> - It can be a username (vicesmile) or an id (id:187698721)</li>
		</ul>
		<b>Example:</b><br />

		<a data-umami-event="endpoint-api" href="/api/orslok/Spanixbot">https://logs.zonian.dev/api/orslok/Spanixbot</a><br />
		<a data-umami-event="endpoint-api" href="/api/forsen/id:117691339">https://logs.zonian.dev/api/forsen/id:11769133</a>

		<ul style="list-style: none">
			<li><b>plain (bool):</b> - Get the instance link in plain text</li>
			<li><b>pretty (bool):</b> - Get the links using an enhanced version of the logs</li>
		</ul>

		<h1>Redirect</h1>

		<kbd>rdr/:channel/:user</kbd>
		<p>Simple redirect to an available instance for the user's logs.</p>
		<ul style="list-style: none">
			<li><b>:channel</b> - It can be a username (NOTLUSHIN) or an id (id:410014058)</li>
			<li><b>:user (Optional)</b> - It can be a username (Drapsnatt) or an id (id:43547909)</li>
		</ul>
		<p>
			<b>Example:</b><br />
			<a data-umami-event="endpoint-redirect" href="/rdr/FapParaMoar/Rubius">https://logs.zonian.dev/rdr/FapParaMoar/Rubius</a><br />
			<a data-umami-event="endpoint-redirect" href="/rdr/ZonianMidian/id:570220755">https://logs.zonian.dev/rdr/ZonianMidian/id:570220755</a>
		</p>

		<ul style="list-style: none">
			<li><b>pretty (bool):</b> - Get the links using an enhanced version of the logs</li>
		</ul>

		<h1>Name History</h1>

		<kbd>namehistory/:user</kbd>
		<p>Obtains the history of usernames used by someone.</p>
		<ul style="list-style: none">
			<li><b>:user</b> - It can be an id (596675864) or a username (login:xqc)</li>
		</ul>
		<p>
			<b>Example:</b><br />
			<a data-umami-event="endpoint-namehistory" href="/namehistory/93281234">https://logs.zonian.dev/namehistory/93281234</a><br />
			<a data-umami-event="endpoint-namehistory" href="/namehistory/login:vei">https://logs.zonian.dev/namehistory/login:vei</a>
		</p>

		<h1>Instances</h1>

		<kbd>instances</kbd>
		<p>
			List of tracked logging instances.<br />
			<b>Example:</b><br />
			<a data-umami-event="endpoint-instances" href="/instances">https://logs.zonian.dev/instances</a>
		</p>

		<h1>Channels</h1>

		<kbd>channels</kbd>
		<p>
			List of unique channels across all instances.<br />
			<b>Example:</b><br />
			<a data-umami-event="endpoint-channels" href="/channels">https://logs.zonian.dev/channels</a>
		</p>

		<h1>Health</h1>

		<kbd>health</kbd>
		<p>
			Health check for the API with basic data.<br />
			<b>Example:</b><br />
			<a data-umami-event="endpoint-health" href="/health">https://logs.zonian.dev/health</a>
		</p>

		<h1>Recent Messages</h1>

		<kbd>rm/:channel</kbd>
		<p>Most complete history from a recent-messages instance.</p>
		<ul style="list-style: none">
			<li><b>:channel</b> - It can only be a username (AlkalineXTw)</li>
		</ul>
		<b>Example:</b><br />
		<a data-umami-event="endpoint-rm" href="/rm/RyanPotat">https://logs.zonian.dev/rm/RyanPotat</a>

		<ul style="list-style: none">
			<li><b>hide_moderation_messages (bool):</b> - Omits CLEARCHAT and CLEARMSG messages from the response</li>
			<li>
				<b>hide_moderated_messages (bool):</b> - Omits all messages from the response that have been deleted by a CLEARCHAT or CLEARMSG
				message
			</li>
			<li><b>clearchat_to_notice (bool):</b> - Converts CLEARCHAT messages into NOTICE messages with a user-presentable message</li>
			<li><b>limit (number):</b> - Limit the number of messages returned</li>
			<li>
				<b>before (number):</b> - Only return messages that were received before (<) this timestamp (in milliseconds since the unix epoch,
				this refers to the rm-received-rs timestamp)
			</li>
			<li>
				<b>after (number):</b> - Only return messages that were received after (>) this timestamp (in milliseconds since the unix epoch, this
				refers to the rm-received-rs timestamp)
			</li>
			<li><b>rm_only (bool):</b> - Only use instances of recent-messages to get the history (ignore justlog/rustlog and it's faster)</li>
		</ul>
	</div>
	<div id="version">
		<p>
			Version
			<%= version %>
		</p>
	</div>
</body>
