<%- include('navbar') -%>
<head>
	<title>Logs | FAQ</title>
	<meta name="description" content="Frequently Asked Questions" />
	<meta property="og:title" content="Logs | FAQ" />
	<meta property="og:image" content="/static/DankG.png" />
	<meta property="og:description" content="Frequently Asked Questions" />
</head>
<body>
	<div class="text-center margin content">
		<h1>FAQ</h1>
		<img src="/static/dankSpin.gif" alt="dankSpin" class="margin" />
		<blockquote class="blockquote margin">
			<h2>Open source?</h2>
			<p class="col-md-4 offset-md-4">
				Yes, the code is available on
				<a href="https://github.com/ZonianMidian/best-logs" style="text-decoration: none" data-umami-event="link-repository"> GitHub</a>
			</p>
		</blockquote>
		<blockquote class="blockquote margin">
			<h2>Received an error?</h2>
			<p class="col-md-4 offset-md-4">
				You either misspelled the user or statistics were not found for the specified channel. In any case, you can
				<a data-umami-event="link-contact" href="/contact" style="text-decoration: none">contact</a>
				me or report the error on
				<a href="https://github.com/ZonianMidian/best-logs/issues" style="text-decoration: none" data-umami-event="link-issues"> GitHub</a>
			</p>
		</blockquote>
		<blockquote class="blockquote margin">
			<h2>Why are there no logs for my channel?</h2>
			<p class="col-md-4 offset-md-4">
				You should contact the maintainer of an available instance and ask them to add your channel. Check the
				<a href="/status" style="text-decoration: none" data-umami-event="link-status"> Status</a>
				section for more information about the instances.
			</p>
		</blockquote>
	</div>
	<div id="version">
		<p>
			Version
			<%= version %>
		</p>
	</div>
</body>
